.buildlog
.dart_tool/
.DS_Store
.idea
.pub/
.settings/
*.iml
**/build
**/packages
**/pubspec.lock
**/.packages
**/.fvm/flutter_sdk
example/.flutter-plugins
**/.flutter-plugins-dependencies
example/ios/Flutter/flutter_export_environment.sh